---
import Layout from "../../layouts/Layout.astro";
import NavBar from "../../components/NavBar.astro";
import HeroSection from "../../components/HeroSection.astro";
import FeaturesSection from "../../components/FeaturesSection.astro";
import DownloadSection from "../../components/DownloadSection.astro";
import ContributorsSection from "../../components/ContributorsSection.astro";
import Footer from "../../components/Footer.astro";
import en from "../../locales/en";
import "../../styles/theme.css";
---

<Layout title="MicYou - Professional Microphone Streaming" lang="en">
    <NavBar t={en.nav} currentLang="en" />
    <main>
        <HeroSection t={en.hero} />
        <FeaturesSection t={en.features} />
        <DownloadSection t={en.download} />
        <ContributorsSection t={en.contributors} />
    </main>
    <Footer t={en.footer} />
</Layout>
